<footer class="footer">

	<div class="wrap">

		{% if site.data.settings.footer_settings.logo_image %}
		<a href="/" class="footer--logo">
			<img src="{{ site.data.settings.footer_settings.logo_image }}" class="footer--logo-img">
		</a>
		{% else %}
		<a href="/" class="footer--title">
			<h3>{{ site.data.settings.basic_settings.site_title }}</h3>
		</a>
		{% endif %}

		<p class="footer--text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer--copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			<span><a href="mailto:{{ site.data.settings.basic_settings.site_email }}">{{ site.data.settings.basic_settings.site_email }}</a></span>
		</div>

	</div>

</footer>