<div class="background-grids">

	<div class="background-grid"></div>
	<div class="background-grid"></div>
	<div class="background-grid"></div>

</div>

<header class="header">

	<div class="wrap header--wrap">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="/" class="header--logo">
			<img src="{{ site.data.settings.header_settings.logo_image }}" class="header--logo-img">
		</a>
		{% else %}
		<a href="/" class="header--title">
			<h1>{{ site.data.settings.basic_settings.site_title }}</h1>
			<p>{{ site.data.settings.basic_settings.site_description }}</p>
		</a>
		{% endif %}

		<div class="menu">
			<div class="menu--toggle js-menu--toggle">
				<div class="menu--toggle-icon"><span></span></div>
			</div>
			<div class="menu--wrap">
				<ul class="menu--list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu--list-item">
						<a href="{{ item.url }}">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>

</header>