// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -



// Footer

.footer {
	@include transition(all 0.4s ease-in-out 0.8s);
	margin: 2rem auto;

	@include breakpoint(md) {
		margin: 3rem auto;
	}

	@include breakpoint(lg) {
		margin: 4rem auto;
	}
}

.footer--logo {
	display: block;
	width: $footer-logo-width;
}

.footer--title {
	color: $text-dark-color;
}

.footer--text {
	color: $text-light-color;
	margin-top: 0;
}

.footer--copyright {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
	font-size: .75rem;
	color: $text-dark-color;

	a {
		margin-left: 10px;
		color: $text-light-color;
		font-weight: $regular-weight;

		&:hover {
			color: $text-regular-color;
		}
	}

	span {
		margin-top: 10px;
		display: inline-block;
	}

	@include breakpoint(sm) {

		span {
			margin-top: 0;
		}
	}
}