// - - - - - - - - - - - - - - - - - -

// Header + menu

// - - - - - - - - - - - - - - - - - -



// Header

.header {
	margin: 2rem auto;

	@include breakpoint(md) {
		margin: 3rem auto;
	}

	@include breakpoint(lg) {
		margin: 4rem auto;
	}
}

.header--wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header--logo {
	display: block;
	width: $logo-width;
	max-width: 80%;

	@include breakpoint(sm) {
		float: left;
		max-width: 50%;
	}
}

.header--logo-img {
	width: 100%;
	height: auto;
}

.header--title {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;

	p {
		margin: 0;
		color: $text-light-color;
		text-transform: lowercase;

		@include breakpoint(sm) {
			margin-left: 1rem;
		}
	}

	&:hover {
		p {
			color: $accent-color;
		}
	}

	@include breakpoint(sm) {
		align-items: center;
		flex-direction: row;
	}
	
}



// Menu

.menu {
	@include breakpoint(lg) {
		position: absolute;
		top: 50%;
		right: 20px;
		@include translate(0, -50%);
	}
}

.menu--toggle {
	position: absolute;
	z-index: 100;
	top: 50%;
	right: 30px;
	@include translate(0, -50%);
	cursor: pointer;
	font-size: 15px;
	line-height: 20px;
	color: $text-dark-color;

	@include breakpoint(sm) {
		right: 0;
	}

	@include breakpoint(lg) {
		display: none;
	}
}

.menu--toggle-icon {
	float: right;
	position: relative;
	width: 24px;
	height: 20px;
	margin-left: 8px;

	span,
	span:before,
	span:after {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		width: 100%;
		height: 3px;
		@include transition(all 0.1s);
		background: $text-dark-color;
	}

	span:before {
		top: -8px;
	}

	span:after {
		top: 8px;
	}
}

.menu--open {
	overflow: hidden;
}

.menu--open .menu--toggle-icon {

	span:before,
	span:after {
		background: $overlay-text-color !important;
	}

	span {
		background-color: transparent !important;
	}

	span:before,
	span:after {
		top: 0;
	}

	span:before {
		@include rotate(45);
	}

	span:after {
		@include rotate(-45);
	}
}

.menu--wrap {
	position: fixed;
	z-index: 90;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($accent-color, 0.95);
	overflow: auto;

	visibility: hidden;
	opacity: 0;
	@include transition(all 0.2s ease-in-out);

	@include breakpoint(lg) {
		position: relative;
		background: transparent;
		visibility: visible;
		overflow: visible;
		opacity: 1;
		@include transition(none);
	}
}

.menu--open .menu--wrap {
	visibility: visible;
	opacity: 1;
}

.menu--list {
	list-style: none;
	margin: 0 auto;
	padding: 30px 35px;

	@include breakpoint(sm) {
		padding: 45px 0 0;
		max-width: 60%;
	}

	@include breakpoint(md) {
		max-width: none;
		margin: 0;
		padding: 0;
	}
}

.menu--list-item {

	a {
		text-transform: lowercase;
		font-size: $menu-small;
		font-weight: $menu-weight;
		color: $overlay-text-color;
		padding: 10px 0;
	
		&:hover {
			color: $overlay-accent-color;
		}
	
		@include breakpoint(lg) {
			padding: 0 0 3px;
			font-size: $menu-large;
			color: $text-dark-color;
			border-bottom: 2px solid transparent;
	
			&:hover {
				color: $accent-color;
			}
		}
	
		&.active-link {
			color: $overlay-accent-color;
	
			@include breakpoint(lg) {
				color: $text-dark-color;
				border-color: $accent-color;
			}
		}
	}

	@include breakpoint(lg) {
		display: inline-block;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.menu--button {
	margin-top: 15px;
	padding: 15px 20px 16px;
	font-size: 13px;

	@include breakpoint(lg) {
		margin-top: 0;
		padding: 11px 20px 12px;
		font-size: 15px;
	}
}

.buttons--circular {

	.menu--button {
		border-radius: 24px;

		@include breakpoint(lg) {
			border-radius: 21px;
		}
	}
}