// - - - - - - - - - - - - - - - - - -

// Works

// - - - - - - - - - - - - - - - - - -

#works-gallery {
	margin-bottom: -15px;

	@include breakpoint(md) {
		margin-bottom: -30px;
	}

	.wrap-fluid {
		display: flex;
		flex-wrap: wrap;

		@include breakpoint(md) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}

.works-gallery--item {
	max-width: 100%;
	display: flex;
	flex: 0 0 100%;
	padding: 0;

	margin-bottom: 5vw;
	transition: all .5s ease-in-out;

	@include breakpoint(md) {
		max-width: 50%;
		flex: 0 0 50%;
		margin-bottom: 30px;
		padding: 0 15px;
	}

	&-bg {
		width: 100%;
		height: 50vh;

		background: {
			color: #ddd;
			size: cover;
			position: center;
		}
	}

	&-info {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		opacity: 0;
		color: $text-regular-color;
		transition: all .5s ease-in-out;
		box-shadow: 0 0 0 1px $grid-color;

		background: {
			color: $background-color;
		}

		p {
			margin-top: 0;
		}

		&:hover {
			opacity: 1;
		}
	}

}